<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evolver.chiron" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chiron" >
        <activity
            android:name=".AdminForgetPassword"
            android:exported="false" />
        <activity
            android:name=".AdminRequestActivity"
            android:exported="false" />
        <activity
            android:name=".AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".GuestMainActivity"
            android:exported="false" />
        <activity
            android:name=".UserMainActivity"
            android:exported="false" />
        <activity
            android:name=".UserSignUp"
            android:exported="false" />
        <activity
            android:name=".UserForgetPassword"
            android:exported="false" />
        <activity
            android:name=".UserSignIn"
            android:exported="false" />
        <activity
            android:name=".AdminSignIn"
            android:exported="false" />
        <activity
            android:name=".MainLogin"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>